.div-oben-container {
    display:flex;
    flex-direction:column;
    align-items:center;

    background-color:violet;

    position:fixed; 
    width:100%; 
    height:50vh;

    padding-top: 10vh;
}


.div-btn {
    background-color:blueviolet;

    display: flex;
    justify-content: space-between;    
    align-items:center;
    
    width: 60%;                /* Full width of the parent container */

    position: absolute;
    bottom: 0;
    
    margin: 5px;
    margin-bottom: 1.5rem;
    padding: 0 10px; /* Optional, für etwas Abstand vom Rand */
}

.h1 {
  background-color: blueviolet;
}

.parameters {
  background-color:blueviolet;
    display: flex;
    justify-content: space-between;
}

.input {
    background-color:blueviolet;
    width: 25vw;
    min-width: 235px; 
}


html {
  padding:0;
  margin: 0;
}


.div-unten-container {
  display:flex;
  justify-content:center;
  min-height:100vw;
}


.image-animes {
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    width: 200px;
}


.card-container {
  
    margin-top: 1rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Initially 5 columns */
    gap: 20px;
  }
  
  @media (max-width: 1200px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr); /* 3 columns for screens smaller than 1200px */
    }
  }
  
  @media (max-width: 768px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for screens smaller than 768px */
    }
  }
  
  @media (max-width: 480px) {
    .card-container {
      grid-template-columns: 1fr; /* 1 column for screens smaller than 480px */
    }
  }

