.div-oben-container {

    background-color: white; 
    position:fixed; 
    width:100%; 
    height:50vh;
}


.div-btn {
    display: flex;
    justify-content: space-between; /* Sorgt dafür, dass die Buttons am linken und rechten Rand sind */
    position: absolute;
    bottom: 0;
    left: 18vw;
    right: 18vw;
    margin: 5px;
    margin-bottom: 1.5rem;
    padding: 0 10px; /* Optional, für etwas Abstand vom Rand */
}


.image-animes {
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    height: 280px;
}

.card-container {
    margin-top: 1rem;
    margin-bottom: 4rem;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Initially 5 columns */
    gap: 20px;
  }
  
  @media (max-width: 1200px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr); /* 3 columns for screens smaller than 1200px */
    }
  }
  
  @media (max-width: 768px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for screens smaller than 768px */
    }
  }
  
  @media (max-width: 480px) {
    .card-container {
      grid-template-columns: 1fr; /* 1 column for screens smaller than 480px */
    }
  }

.genre {
    display: flex;
    justify-content: space-between;
}

.breit {
    width: 25vw;
    min-width: 235px; 
}