<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime-List</title>
</head>

<body>
    <h1>Anime-List</h1>
    <h2>Search Anime by Filters:</h2>
    
    <!-- form for sorting -->
    <form method="POST" action="/all">
        <button>View All</button>
        <br>
    </form>

    <!-- div for the data looped in the python -->
    {% if allanime_results %}
        {% for anime in allanime_results %}
            <div class="anime-card">
                Title: {{ anime['title'] }} 
                <br>
                <img src="{{ anime['images']['jpg']['image_url'] }}" alt="{{ anime['title'] }}">
                <br>
                Type: {{ anime['type']}}
                <br>
                Year: {{ anime['year']}}
                <br>
                <!-- genres is a list of genres so i have to loop over it to display all genres for each anime -->
                {% for genre in anime['genres'] %}
                    Genre: {{ genre['name'] }}{% if not loop.last %}, {% endif %}
                {% endfor %}            </div> 
            <br>
        {% endfor %}
    {% else %}
        <p>No results found</p>
    {% endif %}

    <br>
</body>

</html>
