<!DOCTYPE html>
<html>
    <body>
        <h1>Data from a specific Anime</h1>
    
        <!--Film Covers displayen von jedem Anime der Page-->
        <div>
            <!--TESTs: wenn das image nicht existiert wird es einfach nicht angezeigt, diese anwesenheit müsste dann überprüft werden-->
            <!--TESTs: wenn im html etwas aufgerufen wird das nicht existiert dann sollte das gemerkt werden...wenn man z.b. versucht anime['kakerlake'] aufzurufen geht das nicht weil es kein key namens kakerlake im dictionary gibt!!!-->

            <img src="{{ anime_data['images']['webp']['image_url'] }}" alt="Anime Image" style="width:10vw;">
        </div>
    </body>
</html>