<!DOCTYPE html>
<html>
    <body>
        <h1>Data for all characters from a specific Anime</h1>
        <!--Film Covers displayen von jedem Anime der Page-->
        {% for character in characters_data %}
        <div>
            <!--TESTs: wenn das image nicht existiert wird es einfach nicht angezeigt, diese anwesenheit müsste dann überprüft werden-->
            <img src="{{ character['character']['images']['webp']['image_url'] }}" alt="Anime Image" style="width:10vw;">
        </div>
        {% endfor %}
    </body>
</html>