<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime-List</title>
</head>

<body>
    <h1>Anime-List</h1>
    <h2>Search Anime by Name:</h2>
    
    <!-- Ensure that the form uses the correct action and method -->
    <form method="POST" action="/">
        <input name="anime_name" type="text" value="{{anime_name if anime_name else ''}}" placeholder="Naruto, ..." required>
        <button type="submit">Search</button>
        <br>
        <br>

        <!-- Sorting Buttons -->
        <button type="submit" name="sort_by" value="all">View All</button>
        <button type="submit" name="sort_by" value="series">Series</button>
        <button type="submit" name="sort_by" value="movies">Movies</button>

        <!-- Optional: Dropdown for Genre Selection -->
        <label for="genre">Select Genre:</label>
        <select name="genre">
            <option value="">All</option> <!-- Default option with empty value -->
            {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
        </select>

    </form>
    <br>

    <!-- Check if anime_results is available before looping -->
    {% if anime_results %}
        {% for anime in anime_results %}
            <div class="anime-card">
                Title: {{ anime['title'] }} 
                <br>
                <img src="{{ anime['images']['jpg']['image_url'] }}" alt="{{ anime['title'] }}">
                <br>
                Type: {{ anime['type']}}
                <br>
                Year: {{ anime['year']}}
                <br>
                <!-- genres is a list of genres so i have to loop over it to display all genres for each anime -->
                {% for genre in anime['genres'] %}
                    Genre: {{ genre['name'] }}{% if not loop.last %}, {% endif %}
                {% endfor %}            </div> 
            <br>
        {% endfor %}
    {% else %}
        <p>No results found or no search has been made yet.</p>
    {% endif %}
</body>

</html>
