<!DOCTYPE html>
<html>
<head></head>

<body>
    <h1>All Anime in Pages</h1>
    <h2>Page {{page_number}} </h2>
    <!--display all anime from a single page x here-->
    <!--for each anime only its title, genre, picture, year, type are displayed-->
    <div>
        {% for anime in data %}
            Title: {{ anime['title'] }}
            <br>
            Type: {{ anime['type'] }}
            <br>
            Genre: 
            {% for genre in anime['genres'] %}
                {{ genre['name'] }},
            {% endfor %}
            <br>
            Year: {{ anime['aired']['prop']['from']['year'] }}
            <br>
            <img src="{{ anime['images']['jpg']['image_url'] }}">
            <br>
            <br>
        {% endfor %}
        <br>
    </div>
    <form method="POST" action="/?page={{ page_number }}">
        <!--das was beim action steht wird zum python geschickt und das was beim render_template steht wird zum html geschickt!-->
        {% if page_number > 1 %}
        <button name="navigation" value="previous">
            Previous
        </button>
        {% endif %}
        {% if page_number < 1101 %}
        <button name="navigation" value="next">
            Next
        </button>
        {% endif %}
    </form>
</body>

</html>
