<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime-List</title>
</head>
<body>
    <h1>Search Anime</h1>
    <form method="POST" action="/">
        <!-- Add a name attribute to the input field -->
        <input type="text" name="anime_search" placeholder="Enter anime name">
        <button type="submit" name="filters" value="filter1">Button 1</button>
        <br>
        <br>
        <button type="submit" name="filters" value="filter2">Button 2</button>
        <button type="submit" name="filters" value="filter3">Button 3</button>
    </form>
</body>
</html>
