<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="grossmutter">
        <div class="mutter">
            <div style="background-color:aqua" class="tochter">
            </div>
            <div style="background-color:aqua" class="tochter">
            </div>
            <div style="background-color:aqua" class="tochter">
            </div>
        </div>

    </div>
    
</body>
</html>