<!DOCTYPE html>
<html>
    <body>
        <h1>Data from all Animes</h1>
        <!--TESTs: werden die parameter richtig in die session hinzugefügt???-->
        <!--Filters-->
        
        

        <!--TESTS: anwesenhet der buttons je nach der aktuellen page-->
        {% if page > 1 %}
        <form action="/dec" method="POST">
            <button>Previous</button>
        </form>
        {% endif %}
        
        {% if pagination['has_next_page'] %}
        <form action="/inc" method="POST">
            <button>Next</button>
        </form>
        {% endif %}
        <!--Film Covers displayen von jedem Anime der Page-->
        {% if animes_data %}
            {% for anime in animes_data %}
                <div>
                    {% if anime.get('images') and anime['images'].get('webp') %}
                        <img src="{{ anime['images']['webp']['image_url'] }}" alt="Anime Image" style="width:10vw;">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No data available.</p>
        {% endif %}

    </body>
</html>